<div class="container">

<section class="card">
    <div style="float:right;">
        <button type="button" class="close float-right" aria-label="Close">
        <a routerLink="/instructor"><span aria-hidden="true">&times;</span></a>
      </button>
    </div>
<div style="background: white;border-bottom: solid 1px gray;">
  <h5>Film &amp; edit</h5><br>
</div>
<div id="parent-div">
    <div style="float:left; position: relative; width:57%;  margin-top: 50px; height:auto;">
      <h4>You’re ready to share your knowledge.</h4><br>
      <p style="text-align: justify;">Planning your course carefully will create a clear learning path
        for students and help you once you film. Think down to the details of each lecture
        including the skill you’ll teach, estimated video length,
         practical activities to include, and how you’ll create introductions and summaries.</p>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


      <div id="our-library">
          <img alt="" width="95" height="54" class="img-course" src="https://www.udemy.com/staticx/udemy/images/course-manage-v2/TestVideo_CTA.png">
        <div class="our-library">
          <h5>You’re in good company</h5>
        </div>
        <p style='text-align: center;'>
            Chat and get production help with other Udemy instructors
        </p>

        <button type="button" class="btn btn-info">Join the Community</button>

      </div>
        <br>
  </div>
  <br>


<span><img src= "https://image.flaticon.com/icons/svg/702/702814.svg"style="width:25px;height:25px; float:left;"><h5>&nbsp;Tips</h5></span><br>
<br>
<p>Check often for any changes such as new noises. Be aware of your own energy levels--filming
 can tire you out and that translates to the screen.</p>
<br><br>
<p><strong>Build rapport.</strong></p>
<p>Students want to know who’s teaching them. Even for a course that is mostly screencasts,
film yourself for your introduction. Or go the extra mile and film yourself introducing each section!</p>
<br><br>
<p><strong>Being on camera takes practice.</strong></p>
<p>Make eye contact with the camera and speak clearly. Do as many retakes as you need to get it right.</p>

<br><br>
<p><strong>Set yourself up for editing success.</strong></p>
<p>You can edit out long pauses, mistakes, and ums or ahs. Film a few extra activities or images
that you can add in later to cover those cuts.
</p>

<br><br>
<p><strong>Create audio marks.</strong></p>
<p>Clap when you start each take to easily locate the audio spike during editing.
Use our guides to manage your recording day efficiently.
</p>

<br><br>
<p><strong>For screencasts, clean up.</strong></p>
<p>Move unrelated files and folders off your desktop and open any tabs in advance.
Make on-screen text at least 24pt and use zooming to highlight.
</p>

<br><br>
<p><strong>Create audio marks.</strong></p>
<p>Clap when you start each take to easily locate the audio spike during editing.
Use our guides to manage your recording day efficiently.
</p>

<span><img src="https://image.flaticon.com/icons/svg/1810/1810648.svg"style="width:25px;height:25px; float:left;"><h5>&nbsp;Requirements</h5></span>
<ul>
    <li>Film and export in HD to create videos of at least 720p, or 1080p if possible</li>
    <li>Audio should come out of both the left and right channels and be synced to your video</li>
    <li>Audio should be free of echo and background noise so as not to be distracting to students</li>
</ul>

</section>
</div>
<router-outlet></router-outlet>
