<br><br>
<div class="container">

<section class="card">
<div style="float:right;">
  <button type="button" class="close float-right" aria-label="Close">
  <a routerLink="/instructor"><span aria-hidden="true">&times;</span></a>
</button>
</div>
<h5>Curriculum</h5>


<div id="alert-heading">
    <div role="alert" class="with-icon alert alert-info"><span class="icon udi udi-exp-information"></span><div class="content"><span><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Here’s where you add course content—like lectures, course sections, assignments,
      and more. Click a + icon on the left to get started..</span></div>
 </div>

</div>
<br><br>
<p><br>Start putting together your course by creating sections, lectures and practice (quizzes and coding exercises) below.
</p>

<br><br>
</section>
</div>

<router-outlet></router-outlet>
