<div class="container">
<section class="card">
<div style="float:right;">
  <button type="button" class="close float-right" aria-label="Close">
  <a routerLink="/instructor"><span aria-hidden="true">&times;</span></a>
</button>
</div>
<div style="background: white;border-bottom: solid 1px gray;">
<h5>Course structure</h5><br>
</div>
<div id="parent-div">
  <div style="float:left; position: relative; width:57%;  margin-top: 50px; height:auto;">
    <h4>There's a course in you. Plan it out.</h4><br>
    <p style="text-align: justify;">Planning your course carefully will create a clear learning path for students and help you once you film. Think down to the details of each lecture including the skill you’ll teach, estimated video length, practical activities to include, and how you’ll create introductions and summaries.</p>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    <div id="our-library">
        <img alt="" width="95" height="54" class="img-course" src="https://www.udemy.com/staticx/udemy/images/course-manage-v2/CourseStructure_CTA.png">
      <div class="our-library">
        <h5>Our library of resources</h5>
      </div>
      <p style='text-align: center;'>
        Tips and guides to structuring a course students love
      </p>

      <button type="button" class="btn btn-info">Learn at Teach Hub</button>

    </div>
      <br>
</div>
<br>
<span><img src= "https://image.flaticon.com/icons/svg/702/702814.svg"style="width:25px;height:25px; float:left;"><h5>&nbsp;Tips</h5></span><br>
<p><strong>Create an outline.</strong></p>
<p>Decide what skills you’ll teach and how you’ll teach them. Organize lectures into sections. Each section should have 3-7 lectures, and include at least one assignment or practical activity.</p>
<br><br>
<p><strong>Introduce yourself and create momentum.</strong></p>
<p>People online want to start learning quickly.
Make an introduction section that gives students something to be excited about in the first 10 minutes.
</p>

<br><br>
<p><strong>Sections have a clear learning objective.</strong></p>
<p>Introduce each section by describing the section goal and why it’s important.
 Give lectures and sections titles that reflect their content and have a logical flow.
</p>


<br><br>
<p><strong>Lectures cover one concept.</strong></p>
<p>A good lecture length is 2-7 minutes, to keep students interested and help them study in short bursts.
Make lectures around single topics so students can easily re-watch specific points later.
</p>

<span><img src="https://image.flaticon.com/icons/svg/1810/1810648.svg"style="width:25px;height:25px; float:left;"><h5>&nbsp;Requirements</h5></span>
<ul>
    <li>Your course has at least five lectures</li>
    <li>All lectures add up to at least 30+ minutes of total video</li>
    <li>You course is composed of valuable educational content (learn more)</li>
</ul>

</section>
</div>

<router-outlet></router-outlet>
