<div class="container">

<section class="card">
<div style="float:right;">
  <button type="button" class="close float-right" aria-label="Close">
  <a routerLink="/instructor"><span aria-hidden="true">&times;</span></a>
</button>
</div>
<h5>Setup & test video</h5>




<!-- Special Div Element -->

<div id="parent-div">
    <div style="float:left; position: relative; width:57%;  margin-top: 50px; height:auto;">
      <h4>There's a course in you. Plan it out.</h4><br>
      <p style="text-align: justify;">Planning your course carefully will create a clear learning path for students and help you once you film. Think down to the details of each lecture including the skill you’ll teach, estimated video length, practical activities to include, and how you’ll create introductions and summaries.</p>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


      <div id="our-library">
          <img alt="" width="95" height="54" class="img-course" src="https://www.udemy.com/staticx/udemy/images/course-manage-v2/TestVideo_CTA.png">
        <div class="our-library">
          <h5>Free expert video help</h5>
        </div>
        <p style='text-align: center;'>
          Get personalized advice on your audio and video
        </p>

        <button type="button" class="btn btn-info">Create a Test Video</button>

      </div>
        <br>
  </div>
  <br>









<!--  -->

<span><img src= "https://image.flaticon.com/icons/svg/702/702814.svg"style="width:25px;height:25px; float:left;"><h5>&nbsp;Tips</h5></span><br>
<p><strong>Equipment can be easy.</strong></p>
<p>You don’t need to buy fancy equipment. Most smartphone cameras can capture video in HD, and you can
record audio on another phone or external microphone.
</p>
<br><br>
<p><strong>Students need to hear you.</strong></p>
<p>A good microphone is the most important piece of equipment you will choose.
 There are lot of affordable options.. Make sure it’s correctly plugged in and 6-12 inches (15-30 cm) from you.
</p>

<br><br>
<p><strong>Make a studio.</strong></p>
<p>Clean up your background and arrange props. Almost any small space can be
transformed with a backdrop made of colored paper or an ironed bed sheet.
</p>


<br><br>
<p><strong>Light the scene and your face.</strong></p>
<p>Turn off overhead lights.
 Experiment with three point lighting by placing two lamps in front of you and one behind aimed on the background.</p>

<span><img src="https://image.flaticon.com/icons/svg/1810/1810648.svg"style="width:25px;height:25px; float:left;"><h5>&nbsp;Requirements</h5></span>
<ul>
    <li>Film and export in HD to create videos of at least 720p, or 1080p if possible</li>
    <li>Audio should come out of both the left and right channels and be synced to your video</li>
    <li>Audio should be free of echo and background noise so as not to be distracting to students</li>
</ul>
</section>
</div>

<router-outlet></router-outlet>
