<div class="container">
  <section class="card">
    <div style="margin-bottom:10px;">
      <button type="button" class="close float-right" aria-label="Close">
        <a routerLink="/instructor"><span aria-hidden="true">&times;</span></a>
      </button>

    </div>

    <div>
        <button name="g_list" type="button"class="btn toggle-btn float-right" id="toggling-btn">Disable</button>
    </div>
    <h5>Captions</h5>


    <div id="alert-heading">
        <div role="alert" class="with-icon alert alert-info"><span class="icon udi udi-exp-information"></span><div class="content"><span><i class="fa fa-info-circle"></i>&nbsp;&nbsp;When you add video lectures to your course via the <a href="">Curriculum</a> you will be able to add captions to those videos here.</span></div>
     </div>

    </div>
  </section>
</div>
<router-outlet></router-outlet>
