<!--==========================
Header
============================-->
<header id="header">
  <div class="container form-inline">
    <div id="logo" class="pull-left col-md-2">
      <!-- <h1><a href="#intro" class="scrollto"></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#intro"><img src="../../../assets/img/logo-coral.svg" alt="" title="" width="110" height="32"></a>
    </div>
    <div id="custom-search-input" class="col-md-5">
        <div class="input-group">
            <input type="text" class="search-query form-control" placeholder="Search for anything" />
            <span class="input-group-btn">
                <button routerLink="/search" class="btn btn-danger" type="button">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </div> 
    <nav id="nav-menu-container" class="col-md-5">
      <ul class="nav-menu">
          <li class="menu-has-children"><a href="">Categories</a>
            <ul>
              <li><a href="#">Development</a></li>
              <li class="menu-has-children"><a href="#">Business</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                </ul>
              </li>
              <li><a href="#">Finance & Accounting</a></li>
              <li><a href="#">IT & Software</a></li>
              <li><a href="#">Office Productivity</a></li>
              <li><a href="#">Personal Development</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Photography</a></li>
              <li><a href="#">Health & Fitness</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Teaching & Academics</a></li>
            </ul>
          </li>
        <li class="menu-active"><a href="">Instructor</a></li>
        <li><a href="">My Courses</a></li>
        <li><a routerLink="/cart"><i class="fa fa-lg fa-inverse fa-shopping-cart"></i></a></li>
        <!-- <li><a><app-cart-notification></app-cart-notification></a></li> -->
        <li><a><img class="btn" src="../../../assets/img/img_avatar.png" alt="Avatar" style="width:30px; border-radius:50%;"></a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->