.dialog-head{
    font-size: 15px;
    color: rgb(22, 92, 54);
    background-color: rgb(210, 243, 212);
    padding: 20px 30px;
  }

.dialog-cart, .dialog-close {
    background-color: rgb(24, 80, 82);
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.dialog-cart:hover, .dialog-close:hover {
    background-color: rgb(17, 52, 53);
}
.dialog-cart {
    width: 300px;
}
.dialog-close {
    width: 100px;
}