<!-- Favicons -->
<link href="../../../assets/img/favicon.png" rel="icon">
<link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

<app-student-header></app-student-header>

  <main id="main">
    <app-student-call-to-action></app-student-call-to-action>
    <app-courses></app-courses>
    <app-clients></app-clients>
  </main>

  <app-footer></app-footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../../../assets/lib/jquery/jquery.min.js"></script>
  <script src="../../../assets/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/lib/easing/easing.min.js"></script>
  <script src="../../../assets/lib/wow/wow.min.js"></script>
  <script src="../../../assets/lib/superfish/hoverIntent.js"></script>
  <script src="../../../assets/lib/superfish/superfish.min.js"></script>
  <script src="../../../assets/lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../../assets/js/main.js"></script>